@import "../../style/base.less";
@import '~antd/dist/antd.css';

.selectWrap{
    background: linear-gradient(#e66465, #9198e5);
    height: 100vh;
    .flex(flex-start,center);
    .selectRoom{
        margin-top: 30px;
        border-radius: 10px;
        background-color: #fff;
        width: 90%;
        max-width: 700px;
        .listWrap{
            padding: 15px 0 15px 0;
            .detail{
                .flex(center,flex-start);
                background-color: #EFEEEE;
                padding: 10px;
                p{
                    margin-left: 10px;
                }
                .signupBtn{
                    @media screen and (min-width: 800px){
                        display: none;
                    }
                    margin-left:auto;
                }
            }
            .roomlst{
                min-height: 200px;
                .noRoom{
                    .flex;
                    p{
                        color: #b1afaf;
                    }
                    height: 300px;
                }
                .roomitem{
                    padding: 10px;
                    width: 100%;
                    p{
                        font-size: 18px
                    }
                    .flex(center,flex-start);
                    .roomname{
                        .hideP;
                        width: 70%;
                        margin-left: 20px;
                    }
                    .roomnum{
                        margin-left: auto;
                        margin-right: 20px;    
                    }
                    
                }
                .roomitem:hover{
                    background-color: #EFEEEE;
                    cursor:pointer;
                }
            }
        }
    }
    .userInfo{
        @media screen and (max-width: 800px) { 
            display: none;
        } 
        .flex(center,space-around);
        flex-direction: column;
        width: 150px;
        height: 150px;
        margin: 30px 0 0 15px;
        border-radius: 15px;
        background-color:rgba(255,255,255,0.8);
        p{
            text-align: center;
            width:150px;
            font-weight: bold;
            font-size: 15px;
            padding: 15px;
            // .hideP;
        }
    }
}