@import "../../style/base.less";
@import '~antd/dist/antd.css';

.chatWrap{
    background-color: #000;
    min-height: 100vh;
    .flex(center,flex-start);
    flex-direction: column; 
    .postWrap{
        position: fixed;
        top: 0;
        padding-top:10px; 
        .flex(flex-starrt,center);
        height: 118px;
        width: 100%;
        background-color:#000;
        .inputWrap{
            text-align: center;
            width: 80%;
            .control{
                position: relative;
                width: 100%;
                .postBtn{
                    margin-top: 10px;
                    width: 60%;
                    max-width: 300px;
                }
                .signUpBtn{
                    position: absolute;
                    right: 0;
                    margin-top: 10px;
                }
            }
        }
    }
    .chatList{
        width: 80%;
        margin-top: 118px;
        background-color: #000;
        p{
            font-size: 18px;
            word-wrap:break-word;
            word-break:break-all;
        }
        div{
            padding: 10px;
        }
    }
}

.me{
    display: block;
    width: 60%;
    text-align: right;
    float: right;
    .userName{
        color: yellow;
    }
    .userMsg{
        color: #fff;
    }
}
.other{
    display: inline-block;
    width: 60%;
    text-align: left;
    .userName{
        color: yellow;
    }
    .userMsg{
        color: #fff;
    }
}

.toast{
    width: 100%;
    display: inline-block;
    text-align: center;
    .userName{
        display: none;
    }
    .userMsg{
        color: #fff;
    }
}